html{
    height: 100%;
}
body{
    padding:0;
    margin:0;
    height: 100%;
    background-color:#023047;
}
#header{
    background-color:#ff6f52;
    display:grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 20% 15% 30% 15% 20%;
    grid-template-areas:
    "a1 b1 c1 d1 e1"
    "a2 b2 c2 d2 e2";
    height: 10%;
    justify-content:center;
    place-items:center;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.5);
}
#header_icon{

}
#header_search{
    width:90%;
    grid-area:c1;
}
#header_contact{
    margin-right:60%;
    margin-bottom:8%;
    grid-area:c2;
}
#header_about{
    margin-left:50%;
    margin-bottom:8%;
    grid-area:c2;
}
#header_login{

}
#header_signup{

}